* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*------------------ir-arriba-------------*/


/*.ir-arriba {
    display: none;
    padding: 20px;
    background: rgb(190, 208, 1);
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
*/

.contenheader {
    background: url("../img/limpieza3.jpg") no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 629px;
    width: 100%;
    /*text-align: center;*/
}


/*.contenheader p {
    padding: 10px 0px 10px 0px;
    background: rgba(0, 0, 0, 0.5);
    color: #00bdff;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
}
*/

header {
    /*padding: 10px 0px 10px 0px;*/
    /*background: rgba(0, 0, 0, 0.5);*/
    /*border: 2px red solid;*/
    /*color: #00bdff;*/
    width: 100%;
    overflow: hidden;
    /*text-align: center;
font-size: 1.3em;
*/
}

figure {
    /*border: 2px red solid;*/
    width: 18%;
    float: left;
    margin-left: 8%;
    /*background: rgba(255, 255, 255, 0.5);*/
    /*margin-top: 2%;*/
    /*margin: 0 auto;*/
}

.menu {
    float: right;
    /*border: 2px red solid;*/
    border-top: dotted;
    border-bottom: dotted;
    margin-top: 5%;
    margin-right: 22%;
}

.menu ul {
    width: 100%;
}

.menu ul li {
    list-style: none;
    float: left;
    padding: 10px;
    color: #fff;
}

.menu ul li a {
    text-decoration: none;
    padding: 10px;
    font-size: 17px;
    color: rgb(19, 106, 139);
    font-weight: bold;
    /*color: #fff;*/
}

.menu ul li:hover {
    /*background-color: rgb(191, 22, 47);*/
    background-color: #d98880;
}

.menu ul li:hover a {
    color: #fff;
}

.menu-abrir{
  display: none;
}

.select {
    background-color: #d98880;
    color: #fff;
}

.banner {
    /*outline: 2px red solid;*/
    margin-top: 2%;
}

.tit {
    width: 30%;
    margin-left: 5%;
    font-size: 30px;
    text-align: center;
    text-shadow: 1px 2px #999;
}

.subtit {
    width: 40%;
    margin-left: 1%;
    font-size: 25px;
    text-align: center;
}

.botonb {
    margin-top: 5%;
    clear: both;
    margin-left: 15%;
}

.alserv {
    width: 100%;
    text-align: center;
    text-shadow: 1px 2px #999;
    margin-top: 3%;
}

.contenserv {
    width: 100%;
    /*text-align: center;*/
}

.contendivs {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.imagen {
    color: white;
    background-image: url(../img/limpieza.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 300px;
    height: 250px;
    /*margin: 30px;*/
    margin-left: 3%;
    margin-top: 5%;
    float: left;
    overflow: hidden;
}

.imagen2 {
    color: white;
    background-image: url(../img/productos.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 300px;
    height: 250px;
    /*margin: 30px;*/
    margin-left: 3%;
    margin-top: 5%;
    float: left;
    overflow: hidden;
}

.imagen3 {
    color: white;
    background-image: url(../img/vigilancia.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 300px;
    height: 250px;
    /*margin: 30px;*/
    margin-left: 3%;
    margin-top: 5%;
    float: left;
    overflow: hidden;
}

.icono {
    margin-left: 0%;
    margin-top: 30%;
    color: #000;
    font-size: 28px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: bold;
}

.icono2 {
    margin-left: 0%;
    margin-top: 30%;
    color: #000;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: bold;
}

.fa-plus-circle {
    font-size: 50px;
    text-shadow: 1px 2px #999;
    color: #a93226;
    font-weight: bold;
}

.info {
    position: relative;
    width: 300px;
    height: 250px;
    background-color: rgba(31, 31, 31, 0.9);
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    opacity: 0;
    overflow: hidden;
}

.imagen:hover .info {
    opacity: 1;
    margin-top: -140px;
}

.imagen2:hover .info {
    opacity: 1;
    margin-top: -140px;
}

.imagen3:hover .info {
    opacity: 1;
    margin-top: -140px;
}

.headline {
    text-align: center;
    position: absolute;
    margin-top: 20px;
    -webkit-transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    margin-left: -70px;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
}

.imagen:hover .headline {
    margin-left: 45px;
}

.imagen2:hover .headline {
    margin-left: 45px;
}

.imagen3:hover .headline {
    margin-left: 45px;
}

.info2 {
    margin: auto;
    width: 250px;
    text-align: center;
    margin-top: 160px;
    -webkit-transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

.imagen:hover .info2 {
    margin-top: 70px;
}

.imagen2:hover .info2 {
    margin-top: 70px;
}

.imagen3:hover .info2 {
    margin-top: 70px;
}

.boton {
    margin-top: 3%;
    clear: both;
    margin-left: 43%;
}

.bannerindexabajo {
    margin-top: 2%;
    position: relative;
    height: 410px;
    background: url('../img/camara.jpg') no-repeat center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
}

.bannerindexabajo p {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 30px;
    padding: 10px 0px;
    color: #fff;
    width: 100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-top: 18%;
}


/*----------------------------footer----------------*/

footer {
    width: 100%;
    /*   margin-top: 3%;*/
    height: 50px;
    background-color: rgb(191, 22, 47);
    overflow: hidden;
}

.textpie {
    color: #fff;
    font-size: 19px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    float: left;
    margin-left: 3%;
    margin-top: 1%;
}

.textpie2 {
    color: #fff;
    font-size: 19px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    float: right;
    margin-right: 5%;
    margin-top: 1%;
}


/*-----------------------quienes somos--------------*/

.contenheadern {
    background: url("../img/vigi2.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 429px;
    width: 100%;
    /*text-align: center;*/
}

.texton {
    width: 100%;
}

.textndentro {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 17px;
    color: #4d5656;
    font-family: 'Roboto', sans-serif;
}

.contienetextoeimagenes {
    /*outline: 2px red solid;*/
    margin: 0 auto;
    margin-top: 2%;
    overflow: hidden;
    width: 90%;
    margin-bottom: 2%;
}

.textomvv {
    /*outline: 2px green solid;*/
    width: 40%;
    float: left;
}

.mision {
    width: 100%;
    margin-top: 3%;
    border: 1px #4d5656 solid;
    padding: 10px;
}

.misiontit {
    text-align: center;
    font-size: 25px;
    color: #4d5656;
    font-family: 'Roboto', sans-serif;
}

.misionsubtit {
    text-align: center;
    font-size: 20px;
    color: #4d5656;
    font-family: 'Roboto', sans-serif;
}

.imagenes {
    /*outline: 2px yellow solid;*/
    width: 58%;
    float: right;
    /*height: 350px;*/
}

.imagenesdentro {
    width: 100%;
    height: 50px;
    /*clear: both;*/
}

.imagenesdentro2 {
    width: 100%;
    height: 80px;
    display: block;
    /*clear: both;*/
    margin-top: 60%;
}


/*-------------------servicios--------------*/

.contenheaders {
    background: url("../img/servicios5.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 429px;
    width: 100%;
    /*text-align: center;*/
}

.caja_q {
    /*outline: 2px red solid;*/
    width: 85%;
    margin: 0 auto;
    margin-top: .5%;
    /*text-align: center;*/
    overflow: hidden;
}

.caja_q_1 {
    width: 30%;
    float: left;
    margin-left: 3%;
    margin-top: 3%;
    text-align: center;
}

.icono_q {
    font-size: 30px;
    color: rgb(138, 38, 88);
}

.caja_q_1:hover .icono_q {
    /*color: rgb(42, 42, 41);*/
    color: rgb(19, 106, 139);
}

.contentexto_caja {
    width: 100%;
}

.titulo_caja {
    font-weight: bold;
    font-size: 25px;
}

.texto_caja {
    font-size: 17px;
    text-align: justify;
}

.contenproductos {
    /*outline: 2px red solid;*/
    background: url("../img/limpieza5.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 650px;
    width: 100%;
    overflow: hidden;
}

.fondo {
    background-color: rgba(0, 0, 0, .5);
    height: 650px;
    width: 100%;
    overflow: hidden;
}

.titarticulos {
    text-align: center;
    font-size: 40px;
    color: #FFF;
    margin-top: 3%;
    font-family: 'Open Sans', sans-serif;
}

.contencir {
    /*outline: 2px red solid;*/
}

.cuadros {
    width: 20%;
    float: left;
    margin-left: 3%;
    margin-top: 3%;
}

.imgcuadros {
    width: 100%;
    height: 180px;
    background: url("../img/raid.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.imgcuadros2 {
    width: 100%;
    height: 180px;
    background: url("../img/trapeador.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.imgcuadros3 {
    width: 100%;
    height: 180px;
    background: url("../img/jalador.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.imgcuadros4 {
    width: 100%;
    height: 180px;
    background: url("../img/detergentes.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.imgcuadros5 {
    width: 100%;
    height: 180px;
    background: url("../img/aroma5.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.imgcuadros6 {
    width: 100%;
    height: 180px;
    background: url("../img/cepillos.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.imgcuadros7 {
    width: 100%;
    height: 180px;
    background: url("../img/toallas.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.imgcuadros8 {
    width: 100%;
    height: 180px;
    background: url("../img/papel.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.nameproductos {
    /*border: 2px red solid;*/
    clear: both;
    text-align: center;
    font-size: 20px;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    /*margin-top: 50%;*/
}


/*-------------------contacto------------*/

.contenheaderc {
    background: url("../img/contactar.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 429px;
    width: 100%;
    /*text-align: center;*/
}

.contact_form {
    /*outline: 2px red solid;*/
    width: 50%;
    margin: 0 auto;
}

.contact_form h2 {
    background: none repeat scroll 0 0 #F3F3F3;
    border-radius: 5px;
    color: #5CD053;
    display: block;
    font-family: sans-serif;
    font-size: 25px;
    padding: 5px;
    text-shadow: 1px 1px 1px #CCCCCC;
    width: 100%;
    text-align: center;
}


/*--- estilos para los ul y li del formulario ---*/

.contact_form ul {
    width: 750px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.contact_form li {
    padding: 12px;
    border-bottom: 1px solid #eee;
    position: relative;
}

.contact_form label {
    color: #555555;
    display: inline-block;
    float: left;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-top: 3px;
    padding: 3px;
    width: 90px;
}

.contact_form input {
    height: 30px;
    width: 220px;
    padding: 5px 8px;
}

.contact_form textarea {
    padding: 8px;
    width: 300px;
}

.contact_form button {
    margin-left: 90px;
}


/*----- estilos visuales de los elementos --------*/

.contact_form input,
.contact_form textarea {
    border: 1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius: 2px;
    color: #888;
    font-size: 12px;
    padding-right: 30px;
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
}

.contact_form input:focus,
.contact_form textarea:focus {
    background: #fff;
    border: 1px solid #555;
    box-shadow: 0 0 3px #aaa;
    padding-right: 80px;
}


/* === Estilos de Validacion === */

.contact_form input:required:valid,
.contact_form textarea:required:valid {
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

.contact_form input:focus:invalid,
.contact_form textarea:focus:invalid {
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}


/* === Estilos del boton de Envio === */

button.submit {
    padding: 9px 17px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 1;
    color: #444;
    border: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#bbb));
    background-image: -moz-linear-gradient(0% 100% 90deg, #BBBBBB, #FFFFFF);
    background-color: #fff;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

button.submit:hover {
    opacity: .55;
    cursor: pointer;
    color: #fff;
}

button.submit:active {
    border: 1px solid #222;
    box-shadow: 0 0 10px 5px #444 inset;
}

.contendirecc {
    /*outline: 2px red solid;*/
    width: 100%;
}

.direcc {
    width: 48%;
    /*outline: 2px green solid;*/
    float: left;
    margin-top: 2%;
}

.mapa {
    width: 50%;
    float: right;
    margin-top: 2%;
    margin-right: 2%;
}

.mapa iframe {
    width: 100%;
}
